body {
   background-color: teal;
   color:black;
   padding:0px;
   margin:0px;
}

header
{
    background-color: black;
    color: white;
    padding-left:10px;
    margin:0px;
    height:30px;
    


}

#leftNavContainer
{
    left:0px;
    width:200px;
    position: fixed;
    border-right:solid;
    height:100%;
}

#mainContentContainer
{
    left:200px;
    right:0px;
    position:fixed;
}

#breadCrumbContainer
{
}